<mat-drawer-container class="frame-container">
    <mat-drawer class="frame-nav" mode="side" opened>
        <mat-grid-list cols="1">
            <mat-grid-tile>
                <mat-card>
                    <img src="../assets/images/header.jpg" class="header" />
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            首页
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            表单
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-grid-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <span>Application Title</span>
        </mat-toolbar>
    </mat-drawer-content>
</mat-drawer-container>